@media (min-width:992px){
    .navbar-expand-lg .navbar-collapse{
        width: 100%;
    }   
}
@media only screen and (max-width:768px){
    .facility-info-banner-one {
        background: url(../images/Banner5.png);
        background-repeat: no-repeat;
        width: 100%;
    }
    .header .top-header {
        display: none;
    }
    .header .bottom-header .navbar .navbar-brand img {
        position: relative;
        z-index: 999;
        left: 65%;
        transform: translate(-50%, -50%);
        top: 45px;
        width: 120px;
    }
    .header .bottom-header .navbar .navbar-nav .nav-item:before{
        content: unset !important;
    }
    .navbar-toggler{
        top: -10px;
    }
  
    .facility-info-banner-one .container h1 {
        font: italic normal 900 32px/40px Epilogue;
        color: #FFFFFF;
        left: 0px !important;
        text-align: center;
       
    }
    .facility-info-banner-one .container p {
        font: italic normal normal 20px/25px Epilogue;
        letter-spacing: 0.24px;
        color: #FFFFFF;
        margin-bottom: 0px;
        text-align: center;
        padding-bottom: 20px;
    }
    .ExploreFullServices-one .card .card-body .card-title {
        font: italic normal normal 700 20px/25px Epilogue;
        color: #0E3E53;
    }
    .ExploreFullServices-one .card .card-body .card-text {
        font: italic normal normal 19px/25px Epilogue;
        color: #0E3E53;
    }
    .ExploreFullServices-one .card-name h1{
        font: italic normal normal bold 35px/41px Epilogue;
        color: #1D4D57;
    }
    .RestructuringService-Card .card-name h1{
        font: italic normal normal bold 35px/40px Epilogue;
    }
    .RestructuringService-Card .card-name p {
        font: italic normal normal 19px/27px Epilogue;
    }
    .RestructuringService-Card .card .card-body .card-title {
        font: italic normal normal 700 20px/25px Epilogue;
    }
    .RestructuringService-Card .card .card-body p {
        font: italic normal normal 19px/25px Epilogue;
    }
    .TermSheetPage .card-name h1 {
        font: italic normal normal bold 35px/41px Epilogue;
        color: #1D4D57;
    }
    .ExploreFullServices-one .card-name p{
        font: italic normal normal 19px/27px Epilogue;

    }
    .TermSheetPage .card-name p{
        font: italic normal normal 23px/33px Epilogue;
    }
    .ExploreFullServices-one {
        background: none !important;
    }
}
  

@media only screen and (max-width:768px){
    header .bottom-header .navbar {
        padding-top: 30px !important;
        padding-bottom: 0px !important;
        margin-left: 0px !important;
    }
    .header .bottom-header .container-fluid{
        padding: 0px !important;
    }
    .navbar-toggler {
        padding: 0px !important;
    }
}
/* footer responsive */
@media only screen and (max-width:768px){
    .footer .footer-widget .footer-title h3 {
        margin-bottom: 10px;
        margin-top: 20px;
        
    }
    .footer .footer-desc ul li a {
        font: italic normal 500 16px/27px Epilogue;
    }
    .footer .footer-widget .footer-link ul li a {
        font: italic normal normal 600 18px/35px Epilogue;
        color: #FFFFFF;
        opacity: 0.53;
        text-decoration: none;
    }
    .footer .footer-top {
        background: #0E3E53 0% 0% no-repeat padding-box;
        color: #fff;
        padding: 30px 0px;
    }
    .footer .footer-logo{
        width: 120px;
       
    }
}  
   
/*  */
@media only screen and (max-width:768px) {
    .py-70{
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .home-section-second{
        padding-top: 150px;
        padding-bottom: 0px;
    }
  
    .facility-info-banner-two {
        background: url(../images/banner-6.png);
        background-repeat: no-repeat;
        width: 100%;
    }
    .facility-info-banner-two .container h1 {
        font: italic normal 900 35px/40px Epilogue;
        text-align: center;
    }
    .facility-info-banner-two .container p {
        font: italic normal normal 20px/25px Epilogue;
        text-align: center;
        padding-bottom: 10px;
    }
    .ExploreFullServices-two .card-name h1 {
        font: italic normal normal bold 35px/41px Epilogue;
    }
    .ExploreFullServices-two .card-name p {
        font: italic normal normal 19px/27px Epilogue;
    }
    .ExploreFullServices-two .card .card-body .card-title {
        font: italic normal normal 700 20px/25px Epilogue;
    }
    .ExploreFullServices-two .card .card-body .card-text {
        font: italic normal normal 19px/25px Epilogue;
    }
    .facility-info-banner-three .container .row h1 {
        font: italic normal 900 35px/40px Epilogue;
        text-align: center;
        padding-top: 10px;
    }
    .facility-info-banner-three .container .row p {
        font: italic normal 20px/26px Epilogue;
        text-align: center;
        padding-bottom: 10px;
    }
}
/* Restructuring Services */
@media only screen and(max-width:768px){
    .facility-info-banner-three .container .row h1 {
        font: italic normal 900 30px/38px Epilogue;
        color: #FFFFFF;
        margin-top: 20px;
    }
    .facility-info-banner-three .container .row p {
        font: italic normal 900 16px/23px Epilogue;
        color: #FFFFFF;
       }
    .RestructuringService-Card .card .card-body .card-title {
        font: italic normal normal 700 18px/25px Epilogue;
        color: #0E3E53;
    }
    .RestructuringService-Card .card .card-body p {
        font: italic normal normal 18px/20px Epilogue;
        color: #0E3E53;
    }
}
   /* Terms sheet */
   @media only screen and (max-width:768px){
       .facility-info-banner-three {
       background: url(../images/banner-6.png);
       background-repeat: no-repeat;
       width: 100%;
   }
   .TermSheet-card .card .card-body .card-title {
       font: italic normal normal 700 20px/25px Epilogue;
       color: #0E3E53;
   }
   .TermSheet-card .card .card-body .card-text {
       font: italic normal normal 18px/20px Epilogue;
       letter-spacing: 0.16px;
       color: #0E3E53;
   }
   }
   /* More Service */
   @media only screen and(max-width:768px){
       .moreServicePage .card-name h1 {
           font: italic normal normal bold 31px/30px Epilogue !important;
           color: #1D4D57;
       }
       .moreServicePage .card .card-body .card-text {
           font: italic normal normal 18px/20px Epilogue;
           letter-spacing: 0.16px;
           color: #0E3E53;
       }
   }
   /* Document Details */
   @media only screen and (max-width:768px){
    .document-detail-vertical-tab .nav-pills .nav-link h2 {
        font: italic normal 600 20px/30px Epilogue;
    }
    .explore-now h1 {
        font: italic normal 900 35px/40px Epilogue;
        text-align: center;
        padding-top: 10px;

    }
    .explore-now .container button {
        margin-left: 35%;
        margin-top: 10px;
    }
    .tab-content .tab-pane .container .loan-opening-info p {
        font: italic normal 500 15px/25px Epilogue;
    }
    .download-document-section h2 {
        text-align: center;
    }
    .tab-content .tab-pane .container p {
        font: italic normal 500 15px/25px Epilogue;
    }
    .tab-content .tab-pane .container h1 {
        font: italic normal 800 20px/28px Epilogue;
        text-align: center;
    }
    .tab-content .information-tab-content .container .information p {
        font: italic normal 500 14px/25px Epilogue;
        text-align: center;
    }
    .tab-content .tab-pane .container .information button {
        margin-left: 35%;
    }
    .tab-content .tab-pane .container .loan-opening-info .loan-opening-info-btn{
        margin-left: 35%;
    }
    .contactus-banner {
        background: url(../images/contactus-banner.png);
        background-repeat: no-repeat;
        width: 100%;
    }
    .contactus-banner h1 {
        font: italic normal normal 900 32px/40px Epilogue;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .contactus-accordian-section .container .row h1 {
        text-align: center;
    }
    .aboutus-banner {
        background: url(../images/aboutus-banner.png);
        width: 100%;
        background-repeat: no-repeat;
    }
    .bottom-header{
        box-shadow: 0px 3px 6px #00000029;
    }
    .aboutus-banner .container h1 {
        font: italic normal normal 800 30px/38px Epilogue;
        text-align: center;
    }
    .aboutus-content-section .content-area h5 {
        text-align: center;
    }
    .aboutus-content-section .content-area h2 {
        font: italic normal normal 800 30px/38px Epilogue;
        text-align: center;
    }
    .aboutus-content-section .content-area p {
        font: normal normal 600 16px/26px Epilogue;
        text-align: center;
    }
    .aboutus-content-section .card-title {
        font: italic normal bold 16px/20px Epilogue;
    }
    .aboutus-content-section .aboutus-card-img img {
      display: none;
    }
    .aboutus-content-section .green-circle-img {
      display: none;  
    }
    .aboutus-section-card .container h1 {
        font: italic normal normal 800 26px/35px Epilogue;
    }
    .aboutus-section-card .container .row .card .card-body h1 {
        font: italic normal normal 800 18px/25px Epilogue;
        height: 35px;
    }
    .aboutus-section-card .container .row .card .card-body p {
        font: italic normal bold 13px/22px Epilogue;
        padding-top: 10px;
    }
    .aboutus-section-card .container .Restructuring-section .card .card-body .card-text h1,
    .aboutus-section-card .container  .termsheet-section .card .card-body .card-text h1{
        height: 10px;
    }

    .timeline-section .container .timeline-card-heading p {
    font: italic normal normal 800 15px/25px Epilogue;
    }
    .timeline-card-one .card .card-body .card-title h1 {
        font: italic normal normal 700 22px/30px Epilogue;
    }
    .timeline-card-one .card .card-body .card-title p {
        font: italic normal normal 600 16px/23px Epilogue;
    }
    .timeline-card-one {
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .timeline-card-two .card .card-body .card-title h1 {
        font: italic normal normal 700 22px/30px Epilogue;
    }
    .timeline-card-two .card .card-body .card-title p {
        font: italic normal normal 600 16px/23px Epilogue;
    }
    .timeline-card-two {
        margin-top: 10px;
        padding-bottom: 20px;
    } 
}
/* Index page Responsive */
@media only screen and (max-width:768px) {
    .home-banner-content h3 {
        font: normal normal normal 35px/48px Pristina;
        text-align: center;
    }
    .home-banner-content h2 {
        font: italic normal 900 35px/45px Epilogue;
        text-align: center;
    }
    .home-banner-content button {
        margin-left: 20%;
    }
    .home-section-second .container .content-banner-area img{
        display: none;
    }
    .home-section-second .content-banner-area .banner-content h5 {
        font: normal normal normal 30px/47px Times New Roman;
        color: #0A3041;
        margin-left: 40%;
        width: 100%;
    }
    .home-section-second .content-banner-area .banner-content h4 {
        font: italic normal normal bold 35px/45px Epilogue;
        color: #0A3041;
        margin-left: 40%;
        width: 100%;
    }
    .home-section-second .content-banner-area .banner-content p {
        font: italic normal normal bold 17px/28px Epilogue;
        color: #0A3041;
        width: 100%;
        margin-left: 40%;
    }
    .home-section-second .content-left h4 {
        font: italic normal normal bold 30px/40px Epilogue;
        color: #0A3041;
        margin-bottom: 25px;
        margin-top: 100px;
        text-align: center;
    }
    .home-section-second .content-left .btn-warning {
        border: none;
        font: italic normal normal 600 20px/20px Epilogue;
        margin-left: 30%;
        margin-bottom: 25px;
    }
    .home-section-second .content-right .content-right-list h5 {
        font: italic normal normal 700 18px/27px Epilogue;
    }
    .home-contact-content h2 {
        font: italic normal normal 800 30px/40px Epilogue;
    }
    .home-contact-content h4 {
        font: italic normal normal 900 18px/30px Epilogue;
        letter-spacing: 0.34px;
    }
    .home-contact-content h4 span {
        font: italic normal normal 900 17px/30px Epilogue;
        letter-spacing: 0.5px;
    }
    .home-faq-section .header-content h2 {
        font: italic normal normal 900 28px/40px Epilogue;
        color: #0A3041;
    }
    .home-faq-section .header-content{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .home-faq-section .header-content h3 {
        font: normal normal normal 28px/35px Times New Roman;
        color: #273553;
        padding-top: 10px;
    }
    .home-faq-section .header-content p {
        font: italic normal normal 20px/30px Epilogue;
        color: #273553;
    }
    .home-faq-section .faq-content h2 {
        font: italic normal normal 700 22px/33px Epilogue;
        color: #273553;
        text-align: center;
    }     
    .home-faq-section .faq-content p {
        font: italic normal normal 500 19px/30px Epilogue;
        color: #273553;
        margin-bottom: 0px;
        text-align: center;
    }
    .home-faq-section .container .man-bg{
        display: none;
    } 
    .home-section-third .third-content h4 {
        font: italic normal normal 600 33px/50px Epilogue;
        color: #FFFFFF;
        margin-bottom: 40px;
        text-align: center;
    }
    .home-section-third .container .third-content{
        text-align: center;
    }
    .our-customer-section .our-customer-heading h2 {
        font: italic normal normal 700 40px/50px Epilogue;
    }
    .home-fourth-section .left-section {
        padding-top: 0px;
    }
    .home-fourth-section .left-section h2 {
        font: italic normal normal 700 25px/45px Epilogue;
        text-align: center;
    }
    .home-fourth-section .left-section p {
        font: italic normal normal 600 18px/35px Epilogue;
        text-align: center;
    }
    .home-fourth-section .container .left-section  {
        text-align: center;
        padding-bottom: 30px;
    }
    .home-fourth-section .right-section h3 {
        font: italic normal normal 700 25px/45px Epilogue;
        text-align: center;
    }
    .home-fourth-section .right-section ul li {
        font: italic normal normal 600 23px/25px Epilogue;      
    }
    .succes-story-section{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .succes-story-section .story-header h2 {
        font: italic normal normal 700 25px/45px Epilogue;
    }
    .succes-story-section .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .succes-story-section .right-section h2 {
        font: italic normal normal 700 18px/33px Epilogue;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .succes-story-section .right-section .avatar-info h5 {
        font: italic normal normal 700 20px/30px Epilogue;
    }
    .succes-story-section .right-section .avatar-info h6 {
        font: italic normal normal 700 18px/30px Epilogue;
    }
    .succes-story-section .left-section img {
        height: 315px;
        width: 100%;
    }
    .third-content-card {
        padding: 25px 25px;
        padding-bottom: 0px;
    }
    .home-section-second .banner-content{
        text-align: center;
    }
  
}