@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@font-face {
    font-family:"Pristina";
    src: url(../fonts/PRISTINA.TTF) format("truetype");
  }
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    max-width: 1250px!important;
}
.header .top-header{
    background: #0E3E5312 0% 0% no-repeat padding-box;
    padding: 10px 0px;
}
.header .top-header .header-social ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.header .top-header .header-social ul li{
    display: inline-block;
}
.header .top-header .header-social ul li a{
    margin-right: 15px;
}
.header .top-header .header-social ul li a img{
    height: 25px;
}
.header .top-header .header-breadcrumb ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;  
}
.header .top-header .header-breadcrumb ul li{
    display: inline-block;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
.header .top-header .header-breadcrumb ul li:last-child:before {
    content: unset;
  }
.header .top-header .header-breadcrumb ul li:before{
    content: '/';
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    font: italic normal 500 18px/28px Epilogue;
}
.header .top-header .header-breadcrumb ul li a{
    font: italic normal 500 16px/21px Epilogue;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}
.header .top-header .header-breadcrumb ul li a img{
    margin-right: 10px;
}
.header .bottom-header .navbar{
    padding-top: 25px;
    padding-bottom: 25px;
}
.header .bottom-header .navbar .navbar-brand{
    position: relative;
}
.header .bottom-header .navbar-toggler .navbar-toggler-icon{
    font-size: 50px;
}
.header .bottom-header .navbar-toggler:focus {
    box-shadow: none !important;
  }
.header .bottom-header .navbar .navbar-brand img{
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 40px;
    width: 150px;
}
.header .bottom-header .navbar .navbar-nav .nav-item{
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
}
.header .bottom-header .navbar .navbar-nav .nav-item:before {
    content: '/';
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    font: italic normal 500 18px/28px Epilogue;
}
.header .bottom-header .navbar .navbar-nav .nav-item:last-child:before{
    content: unset;
}
.header .bottom-header .navbar-nav .nav-item .nav-link.active{
   color: #368395;
   border-bottom: 3px solid #368395;
}
.btn-ouline-green{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #3B8EA0;
    border-radius: 8px;
    letter-spacing: 0px;
    color: #3B8EA0;
    font: italic normal 900 14px/15px Epilogue;
    padding: 10px 20px;
}
.btn-green{
    background: #3B8EA0 0% 0% no-repeat padding-box;
    border: 2px solid #3B8EA0;
    border-radius: 8px;
    font: italic normal 900 14px/15px Epilogue;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 10px 20px;
}
.header .bottom-header .navbar-nav .nav-item .nav-link{
    font: italic normal bold 14px/25px Epilogue;
    color: #000000;
    text-transform: uppercase;
}
.homepage-slider .owl-slide{
   padding: 80px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    width: 100%;
}
.homepage-slider .slide1{
    background-image: url(../images/Banner-1.png);
}
.homepage-slider .slide2{
    background-image: url(../images/Banner-2.png);
}
.homepage-slider .slide3{
    background-image: url(../images/Banner-3.png);
}
.homepage-slider .slide4{
    background-image: url(../images/Banner-4.png);
}
.owl-dots{
    position: absolute;
    z-index: 100;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
}
.owl-dots button.owl-dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff!important;
    margin: 0px 5px;
    outline: none;
    box-shadow: 0px 3px 6px #00000029;
}
.owl-dots button.owl-dot.active{
    background-color: #FF7D0C!important;
    border: 1px solid #FFFFFF;
}
.home-banner-content{
    color: #fff;
}
.home-banner-content h3{
    font: normal normal normal 40px/79px Pristina;
}
.home-banner-content h2{
    font: italic normal 900 50px/65px Epilogue;
    margin-bottom: 50px;
}
.home-banner-content button{
    background: #1D4D57 0% 0% no-repeat padding-box;
border: 6px solid #FFFFFF;
border-radius: 6px;
color: #fff;
font: italic normal normal 600 25px/25px Epilogue;
    padding: 20px 35px;
}
.home-banner-content button:hover{
    color: #fff;
}
.home-section-second{
    background: url(../images/Background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.py-70{
    padding-top: 70px;
    padding-bottom: 70px;
}
.home-section-second{
    padding-top: 70px;
    padding-bottom: 70px;
}
.home-section-second .content-banner-area{
    position: relative;
}
.home-section-second .content-banner-area .banner-content{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 18%;
    color: #fff;
}
.home-section-second .content-banner-area .banner-content h5{
    font: normal normal normal 40px/47px Times New Roman;
}
.home-section-second .content-banner-area .banner-content h4{
    font: italic normal normal bold 45px/60px Epilogue;
    margin-bottom: 25px;
}
.home-section-second .content-banner-area .banner-content p{
    font: italic normal normal bold 18px/28px Epilogue;
    letter-spacing: 0.26px;
    margin-bottom: 0px;
}
.home-section-second .content-left h4{
    font: italic normal normal bold 60px/72px Epilogue;
    color: #0A3041;
    margin-bottom: 60px;
}
.home-section-second .content-left .btn-warning{
    background: #FF7D0C 0% 0% no-repeat padding-box;
    border-radius: 8px;
    color: #fff;
    border: none;
    padding: 18px 35px;
    font: italic normal normal 600 20px/20px Epilogue;
}
.home-section-second .content-right .content-right-list{
    margin-left: 20px;
}
.home-section-second .content-right .content-right-list h5{
    font: italic normal normal 700 21px/32px Epilogue;
    letter-spacing: 0.26px;
    color: #0E3E53;
    margin-bottom: 0px;
} 
.home-contact{
    background: url(../images/Contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-contact-content{
    text-align: center;
    color: #fff;
    position: relative;
}
.home-contact-content h2{
    font: italic normal normal 800 50px/96px Epilogue;
}
.home-contact-content h4{
    font: italic normal normal 500 24px/30px Epilogue;
    letter-spacing: 0.34px;
}
.home-contact-content h4 span{
    font: italic normal normal 900 40px/30px Epilogue;
    letter-spacing: 0.5px;
}
.home-faq-section .header-content{
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}
.home-faq-section .header-content h3{
    font: normal normal normal 45px/57px Times New Roman;
    color: #273553;
}
.home-faq-section .header-content h2{
    font: italic normal normal 900 50px/70px Epilogue;
    color: #0A3041;
}
.home-faq-section .header-content p{
    font: italic normal normal 30px/45px Epilogue;
    color: #273553;
}
.home-faq-section  .faq-content{
    border-bottom: 1px solid #273553;
    padding-bottom: 30px;
    margin-top: 30px;
}
.home-faq-section  .faq-content:last-child{
    border: none;
}
.home-faq-section  .faq-content h2{
    font: italic normal normal 700 35px/45px Epilogue;
    color: #273553;
}
.home-faq-section  .faq-content p{
    font: italic normal normal 500 23px/35px Epilogue;
    color: #273553;
    margin-bottom: 0px;
}
.home-section-third{
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-section-third .third-content h4{
    font: italic normal normal 600 40px/60px Epilogue;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.home-section-third .third-content button{
    background: #FF7D0C 0% 0% no-repeat padding-box;
    border-radius: 8px;
    color: #fff;
    border: none;
    padding: 18px 35px;
    font: italic normal normal 600 20px/20px Epilogue;
}
.third-content-card{
    background: #e2e8e9;
    padding: 80px 50px;
    padding-bottom: 50px;
}
.third-content-card .card-content{
    margin-bottom: 30px;
}
.third-content-card .card-content img{
    cursor: pointer;
}
.third-content-card .card-content h4{
    text-align: center;
    font: italic normal bold 20px/30px Epilogue;
    color: #273553;
}
.our-customer-section{
    padding-top: 32px;
    padding-bottom: 32px;
}
.our-customer-section .our-customer-heading h2{
    font: italic normal normal 700 50px/70px Epilogue;
    color: #0A3041;
    text-align: center;
}
.our-customer-slider .slick-slide{
    margin: 20px;
}
.home-fourth-section{
    background: url(../images/Background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-fourth-section .left-section h2{
    font: italic normal normal 700 45px/65px Epilogue;
    color: #1D4D57;
    padding-top: 40px;  
}
.home-fourth-section .left-section p{
    font: italic normal normal 600 25px/45px Epilogue;
    color: #273553;
    opacity: 0.7;
    margin-bottom: 30px;
}
.home-fourth-section .left-section{
    padding-top: 70px;
}
.home-fourth-section .left-section .btn-success{
    background: #3B8EA0 0% 0% no-repeat padding-box;
    border-radius: 8px;
    color: #fff;
    border: none;
    padding: 18px 35px;
    font: italic normal normal 600 20px/20px Epilogue;
}
.home-fourth-section .right-section h3{
    font: italic normal normal 700 28px/45px Epilogue;
    color: #273553;
    margin-bottom: 30px;
    margin-top: 110px;
}
.home-fourth-section .right-section  ul li{
    font: italic normal normal 600 30px/45px Epilogue;
    color: #273553;
    margin-bottom: 12px;
}
.home-fourth-section .right-section  ul li::marker {
    color: #FF7D0C;
    font-size: 50px;
}
.succes-story-section{
    background: url(../images/Background3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.succes-story-section{
    padding-top: 70px;
    padding-bottom: 70px;
}
.succes-story-section .container{
    padding-top: 70px;
    padding-bottom: 70px;
}
.succes-story-section .story-header h2{
    font: italic normal normal 700 50px/70px Epilogue;
    text-align: center;
    color: #1D4D57;
}
.succes-story-section .left-section img{
  cursor: pointer;
}
.succes-story-section .right-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 35px;
}
.succes-story-section .right-section h2{
    font: italic normal normal 700 30px/45px Epilogue;
    color: #273553;
    opacity: 0.97;
}
.succes-story-section .right-section .avatar-content img{
    cursor: pointer;
}
.succes-story-section .right-section .avatar-info{
    padding-left: 20px;
}
.succes-story-section .right-section .avatar-info h5{
    font: italic normal normal 700 30px/45px Epilogue;
    color: #273553;
    opacity: 0.97;
    margin-bottom: 0px;
}
.succes-story-section .right-section .avatar-info h6{
    font: italic normal normal 700 25px/30px Epilogue;
    color: #273553;
    opacity: 0.97;
    margin-bottom: 0px;
}
.footer .footer-top{
    background: #0E3E53 0% 0% no-repeat padding-box;
    color: #fff;
    padding: 50px 0px;
    padding-top: 80px;
}
.footer .footer-logo{
    margin-bottom: 25px;
}
.footer .footer-desc p{
    font: italic normal 500 14px/30px Epilogue;
    color: #FFFFFF;
    opacity: 0.53;
}
.footer .footer-desc ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.footer .footer-desc ul li{
    display: inline-block;
}
.footer .footer-desc ul li a{
    font: italic normal 500 13px/27px Epilogue;
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000029;
    text-decoration: none;
    margin-right: 10px;
    border-right: 1px solid #fff;
    padding-right: 15px;
    opacity: 0.53;
}
.footer .footer-desc ul li:last-child a{
    border: none;
}
.footer .footer-social ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.footer .footer-social ul li{
    display: inline-block;
}
.footer .footer-social ul li a{
    margin-right: 15px;
}
.footer .footer-social ul li a img{
    height: 25px;
}
.footer .footer-widget .footer-title h3{
    font: italic normal normal 700 25px/31px Epilogue;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.footer .footer-widget .footer-link ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer .footer-widget .footer-link ul li{
    margin-bottom: 10px;
}
.footer .footer-widget .footer-link ul li a{
    font: italic normal normal 600 18px/45px Epilogue;
    color: #FFFFFF;
    opacity: 0.53;
    text-decoration: none;
}
.footer .footer-widget form .form-group{
    margin-bottom: 20px;
}
.footer .footer-widget form .form-control{
    font: italic normal 600 14px/30px Epilogue;
    color: #1D4D57;
}
.footer .footer-widget form button{
    background: #FF7D0C 0% 0% no-repeat padding-box;
    border-radius: 8px;
    color: #fff;
    width: 100%;
    font: italic normal 800 20px/21px Epilogue;
    padding: 10px 20px;
}
.footer .footer-bottom{
    background: #0A3041 0% 0% no-repeat padding-box;
    color: #fff;
    padding: 30px 0px;
}
.footer-bottom p{
    font: italic normal normal 600 18px/30px Epilogue;
    color: #FFFFFF;
    opacity: 0.53;
}
.footer-bottom p a{
    color: #FFFFFF;
    text-decoration: none;
}
.footer-bottom .footer-menu ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.footer-bottom .footer-menu ul li{
    display: inline-block;
    margin-right: 70px;
}
.footer-bottom .footer-menu ul li a{
    font: italic normal normal 600 18px/30px Epilogue;
    color: #FFFFFF;
    opacity: 0.53;
    text-decoration: none;
}
/* ------------- */


/* Industry Special Service Page */

.facility-info-banner-one{
    background: url(../images/Banner5.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;   
}
.tablist .nav-link:focus, .tablist .nav-link:hover {
    color: #fff !important;
}
.facility-info-banner-one .container h1{
  font: italic normal 900 48px/50px Epilogue;
  color: #FFFFFF;
}
.facility-info-banner-one .container p{
    font: italic normal normal 21px/33px Epilogue;
    letter-spacing: 0.24px;
    color: #FFFFFF;
}
.ExploreFullServices-one {
    background: url(../images/Bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: 100% 100%;
  }
  .ExploreFullServices-one .card-name h1 {
    font:italic normal normal bold 40px/50px Epilogue;  
    color: #1D4D57;
    padding-top: 40px; 
   
  }

.RestructuringService-Card .card-name h1{
    font:italic normal normal bold 40px/50px Epilogue;  
    color: #1D4D57;
    padding-top: 40px;
}
.TermSheetPage .card-name h1
{
  font:italic normal normal bold 40px/50px Epilogue;  
  color: #1D4D57;
  
}
.ExploreFullServices-one .card-name p{
    font: italic normal normal 18px/32px Epilogue;
    color: #0E3E53; 
    padding-bottom: 40px;
}
.TermSheetPage .card-name p,
.moreServicePage .card-name p
{
  font: italic normal normal 18px/32px Epilogue;
  color: #0E3E53; 
  padding-bottom: 40px;
}
.ExploreFullServices-one  .card .card-body .card-title{
    font: italic normal normal 700 16px/25px Epilogue;
    color: #0E3E53;
}
.ExploreFullServices-one  .card .card-body .card-text{
    font: italic normal normal 16px/20px Epilogue;
    color: #0E3E53;
}
.ExploreFullServices-one  .card .card-body .card-title img{
    margin-top: 5px;
    padding-left: 10px;
}
.ExploreFullServices-one .card .card-body:hover{
    background: #0E3E5317 0% 0% no-repeat padding-box;
}
.ExploreFullServices-one  .card .card-body img{
    margin-bottom: 5px;

}
.ExploreFullServices-one .card {
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 30px;
}
.ExploreFullServices-one .card .card-body .card1 {
    padding: 20px;
}
/* Facility Information Pack Specialized Financing Service Page css */
.facility-info-banner-two{
    background: url(../images/banner-6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}
.facility-info-banner-two .container h1{
    font: italic normal 900 48px/50px Epilogue;
    color: #FFFFFF;
    padding-top: 10px;
   
  }
  .facility-info-banner-two .container p{
      font: italic normal normal 21px/33px Epilogue;
      letter-spacing: 0.24px;
      color: #FFFFFF;
  }
.ExploreFullServices-two .card-name h1 {
      font:italic normal normal bold 40px/50px Epilogue;  
      color: #1D4D57;
      padding-top: 40px;

}
.ExploreFullServices-two .card-name p
{
    font: italic normal normal 18px/32px Epilogue;
    color: #0E3E53; 
    padding-bottom: 40px;
}
.ExploreFullServices-two  .card .card-body .card-title{
    font: italic normal normal 700 14px/25px Epilogue;
    color: #0E3E53;
}
.ExploreFullServices-two  .card .card-body .card-text{
    font: italic normal normal  16px/20px Epilogue;
    color: #0E3E53;
}
.ExploreFullServices-two  .card .card-body .card-title img{
    margin-top: 5px;
    padding-left: 10px;
}
.ExploreFullServices-two .card .card-body:hover{
    background: #0E3E5317 0% 0% no-repeat padding-box;
}
.ExploreFullServices-two  .card .card-body img{
    margin-bottom: 5px;
}
.ExploreFullServices-two .card {
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 30px;
}
.ExploreFullServices-two .card .card-body .card2 {
    padding: 20px;
}

  /*  Restructuring Service Page */
  .facility-info-banner-three {
    background: url(../images/banner-6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
  }
  .facility-info-banner-three .container .row h1{
    font: italic normal 900 35px/50px Epilogue;
    color: #FFFFFF;
    padding-top: 60px;
   
  }
  .facility-info-banner-three .container .row p{
    font: italic normal 900 16px/30px Epilogue;
    color: #FFFFFF;
    padding-bottom: 60px;
  }
  .RestructuringService-Card {
    background: url(../images/Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: 100% 100%;
  }
  .RestructuringService-Card .card-name p {
    font: italic normal normal 18px/32px Epilogue;
    color: #0E3E53;
    padding-bottom: 40px;
}
.RestructuringService-Card  .card .card-body .card-title{
    font: italic normal normal 700 16px/25px Epilogue;
    color: #0E3E53;
}
.RestructuringService-Card  .card .card-body p{
    font: italic normal normal  16px/20px Epilogue;
    color: #0E3E53;
}
.RestructuringService-Card  .card .card-body .card-title img{
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
}
.RestructuringService-Card .card .card-body:hover{
    background: #0E3E5317 0% 0% no-repeat padding-box;
}
.RestructuringService-Card  .card .card-body img{
    margin-bottom: 5px;
}
.RestructuringService-Card .card {
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 30px;
}
.RestructuringService-Card .card .card-body .card3{
    padding: 23px;
}
/*  Term sheet*/
.TermSheet-card{
    background: url(../images/tearmsheet-bg.svg);
    background-position: 100%, 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.TermSheet-card .card-name h1{
    font: italic normal normal bold 35px/41px Epilogue;
    color: #1D4D57;
    padding-top: 40px;
    
}
.TermSheet-card .card-name p{
    font: italic normal normal 18px/32px Epilogue;
    color: #0E3E53;
    padding-bottom: 40px;
}

.TermSheet-card  .card .card-body .card-title{
    font: italic normal normal 700 15px/25px Epilogue;
    color: #0E3E53;
}
.TermSheet-card .card .card-body .card-text{
    font: italic normal normal 16px/20px Epilogue;
    letter-spacing: 0.16px;
    color: #0E3E53;
}
.TermSheet-card .card .card-body .card-title img{
    margin-top: 5px;
    padding-left: 10px;
}
.TermSheet-card .card .card-body:hover{
    background: #0E3E5317 0% 0% no-repeat padding-box;
}
.TermSheet-card  .card .card-body img{
    margin-bottom: 5px;
}
.TermSheet-card .card {
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 30px;
}
.TermSheet-card .container .card .card-body {
    padding: 23px !important;
}


/* More services */
.moreServicePage{
    background: url(../images/Background.svg);
    background-position: 100%, 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
} 
.moreServicePage .card-name h1 {
    font: italic normal normal bold 35px/41px Epilogue;
    color: #1D4D57;
    padding-top: 40px;
}
.moreServicePage  .card .card-body .card-title{
    font: italic normal normal 700 18px/25px Epilogue;
    color: #0E3E53;
}
.moreServicePage  .card .card-body .card-text{
    font: italic normal normal 16px/20px Epilogue;
    letter-spacing: 0.16px;
    color: #0E3E53;
}
.moreServicePage .card .card-body .card-title img{
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.moreServicePage .card .card-body:hover{
    background: #0E3E5317 0% 0% no-repeat padding-box;
}
.moreServicePage  .card .card-body img{
    margin-bottom: 5px;
}
.moreServicePage .card {
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 30px;
    height: 230px;
}
.moreServicePage .container .card .card-body {
    padding: 23px !important;
}
/* document Detail */


.document-detail-vertical-tab .nav-pills{
    background-color:#3B8EA0;
 }
 .document-detail-vertical-tab .nav-pills .nav-link.active{
    color: #3B8EA0 !important;
    background-color: white !important;
 }
 .document-detail-vertical-tab .nav-pills .nav-link{
     background-color:#3B8EA0 ;
     color: #FFFFFF;
     border-radius: 0% !important;
 }
 .document-detail-vertical-tab .nav-pills .nav-link h2{
    font: italic normal 600 19px/20px Epilogue;
    margin-left: 17px;
    text-align: left;
    padding-top: 10px;
 }
 .document-detail-vertical-tab .nav-link .blue-doc-img,
 .nav-link.active .white-doc-img{
    display: none;
 }
 .document-detail-vertical-tab .nav-link.active  .blue-doc-img,
 .nav-link.white-doc-img{
     display: block;
}
.document-detail-vertical-tab .nav-pills .nav-link.active{
    border-left: 3px solid #FF7D0C;
}
.document-detail-vertical-tab  .tab-content {
    background: #3B8EA00D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px dashed #1D4D57;
}
    
    

/* INDUSTRY SPECIFIC Detail ServicePageTab 1 */
 .explore-now{
    background: url(../images/agri-banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    
}
.explore-now h1{
    font: italic normal 900 40px/79px Epilogue;
    color: #FFFFFF;
}
.explore-now .container button{
    margin-left: 40%;
    background: #FF7D0C 0% 0% no-repeat padding-box;
    border-radius: 8px;
    font: italic normal normal 600 15px/17px Epilogue;
    color: #FFFFFF;
    padding: 10px;
    border: none;
}
.industory-specific-details-service .tab-content{
    background: #3B8EA00D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px dashed #1D4D57;
    border-radius: 2px;
 }
 .industory-specific-details-service .nav-pills{
    background-color:#3B8EA0;
 }
 .industory-specific-details-service .nav-pills .nav-link.active{
    color: #3B8EA0 !important;
    background-color: white !important;
 }
 .industory-specific-details-service .nav-pills .nav-link{
     background-color:#3B8EA0 ;
     color: #FFFFFF;
     border-radius: 0% !important;
 }
 .industory-specific-details-service .nav-pills .nav-link h2{
    font: italic normal 600 19px/20px Epilogue;
    margin-left: 15px;
    padding-top: 10px;
 }
.industory-specific-details-service .nav-link.active .aboutyou-white-img,
.nav-link .aboutyou-blue-img
 {
     display: block;
 }
.industory-specific-details-service .nav-link .aboutyou-white-img,
.nav-link.active .aboutyou-blue-img
 {
   display: none; 
 }
.industory-specific-details-service .nav-link .info-white-img,
.nav-link.active .info-blue-img
 {
    display: block;
 }
.industory-specific-details-service .nav-link.active .info-white-img,
.nav-link .info-blue-img
{
    display: none;
}
.industory-specific-details-service .nav-link .morgage-white-img,
.nav-link.active .morgage-blue-img
 {
    display: block;
 }
 .industory-specific-details-service .nav-link.active .morgage-white-img,
.nav-link .morgage-blue-img
{
    display: none;
}
.industory-specific-details-service .nav-link .review-white-img,
.nav-link.active .review-blue-img{
    display: block;
}
.industory-specific-details-service .nav-link.active .review-white-img,
.nav-link .review-blue-img
{
    display: none;
}
.loan-opening-info .loan-opening-info-btn button{
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border: 2px solid #3B8EA0 !important;
    border-radius: 5px !important;
    font: italic normal normal 600 17px/17px Epilogue !important;
    color: #3B8EA0 !important;
    padding: 8px 15px !important;
    margin-bottom: 15px;
    
}
 .guidence-document h1{
    font: italic normal 800 20px/30px Epilogue;
    letter-spacing: 0.29px;
    color: #0E3E53;
 }
 .guidence-document img{
    width: 30px;
 }
 .guidence-document p{
    font: italic normal 500 14px/26px Epilogue;
    letter-spacing: 0.2px;
    color: #0E3E53;
 }
.download-document-section h2{
    font: italic normal bold 20px/35px Epilogue;
    letter-spacing: 0.24px;
    color: #0E3E53;
 }
 .download-document-section .justify-content-between p{
    font: italic normal 600 16px/40px Epilogue;
    letter-spacing: 0.18px;
    color: #0E3E53;
    margin-bottom: 0px !important;
 }
 .download-document-section button{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #3B8EA0;
    border-radius: 5px;
    font: italic normal normal 600 17px/17px Epilogue;
    color: #3B8EA0;
    padding: 8px 15px;
 }
 

 .tab-content .tab-pane .container .loan-opening-info img{
    background: #3B8EA01A 0% 0% no-repeat padding-box;
    border-radius: 2px;
    padding: 10px;
 }
 .tab-content .tab-pane .container .loan-opening-info h3{
    text-align: left;
    font: italic normal 800 21px/30px Epilogue;
    letter-spacing: 0.29px;
    color: #0E3E53;
    text-transform: uppercase;
 }
 .tab-content .tab-pane .container .loan-opening-info p{
        font: italic normal 500 14px/26px Epilogue;
        letter-spacing: 0.2px;
        color: #0E3E53;
 }
.tab-content .tab-pane .container h1{
    font: italic normal 800 20px/40px Epilogue;
    letter-spacing: 0.29px;
    color: #0E3E53;
}
.tab-content .tab-pane .container p{
    font: italic normal 500 15px/15px Epilogue;
    color: #0E3E53;
    opacity: 1;
}
.guidence-document .download-document-section .justify-content-between  p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.tab-content .tab-pane .container button{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #3B8EA0;
    border-radius: 5px;
    font: italic normal normal 600 17px/17px Epilogue;
    color: #3B8EA0;
    padding: 8px 15px;
 }
 /* contact us page css */
 .contactus-banner{
    background: url(../images/contactus-banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
 }
 
 .contactus-accordian-section .accordion-button:not(.collapsed){
    background-color: #FFFFFF !important;
    color:  #1D4D57!important  ;
 }
/*  .contactus-accordian-section .accordion-button.collapsed{
    background-color: #1D4D57 !important;
    color: #FFFFFF !important  ;
} */
.contactus-accordian-section .accordion-button[aria-expanded="true"]{
    background-color: #1D4D57 !important;
    color: #FFFFFF !important  ;
}
 .contactus-accordian-section .container .row .accordion-contactus
  .accordion-button::after{
    background-image: none !important;
}
/* .contactus-accordian-section .container .row .accordion-contactus .accordion-header>
 button::after
{
    float: right;
    content: "+";
    font-size: 30px ;
    font-style: normal !important;
}
.contactus-accordian-section .container .row .accordion-contactus
 .accordion-header>button.collapsed:after
{
    float: right;
    content: '-';
    font-size: 30px;
} */

 .contactus-accordian-section .accordion-contactus .accordion-item 
.accordion-header .accordion-button::after {
    content: '+';
    font-size: 35px;
}
.contactus-accordian-section .accordion-contactus  .accordion-item 
.accordion-header .accordion-button.accordion-button:not(.collapsed)::after {
    content: '-';
    font-size: 35px;
} 
 .contactus-banner h1{
    font: italic normal normal bold 35px/90px Epilogue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
 }

 .contactus-accordian-section .container .row  h1{
    font: italic normal bold 22px/25px Epilogue;
    letter-spacing: 0.36px;
    color: #1D4D57;
 }
 .contactus-accordian-section .container .row .general-enquire {
    font: italic normal 500 15px/20px Epilogue;
    letter-spacing: 0.2px;
    color: #0E3E53;
 }
 .contactus-accordian-section .container .row .sales
 {
    font: italic normal 500 15px/15px Epilogue;
    letter-spacing: 0.2px;
    color: #0E3E53;
 }
 .contactus-accordian-section .container .row .mail-address-text{
    font: italic normal 500 12px/23px Epilogue;
    color: #0A3041;
 }
 .accordion-body .container .row  h2{
    font: italic normal 600 11px/40px Epilogue;
    letter-spacing: 0.2px;
    color: #0E3E53;
 }
 .accordion-body .container .row .col-md-5 .form-group input{
     padding: 5px;
 }
 .accordion-body .container .row .col-md-5 .form-group textarea{
    height: 120px;
}
 .accordion-body .container .row .col-md-5 .form-group input,
 .accordion-body .container .row .col-md-5 .form-group textarea{
    background: #F6EDED0F 0% 0% no-repeat padding-box;
    border: 1px solid #0000004A;
    border-radius: 5px;
 }
 .accordion-body .container .row .col-md-5 .form-group button{
    background: #FF7D0C 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    font: italic normal 700 16px/22px Epilogue;
    width: 100px;
    color: #FFFFFF;
 }
 .accordion-button:not(.collapsed) {
    color: #1D4D57 !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%) !important;
    font: italic normal bold 15px/30px Epilogue;
    letter-spacing: 0.24px;
}
.accordion-button.collapsed {
    color: #1D4D57 !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%) !important;
    font: italic normal bold 15px/30px Epilogue;
    letter-spacing: 0.24px;
}
.accordion-button:focus {
    border-color: #00000033 !important;
}
.accordion-body .container .row .col-md-5 .form-group input::placeholder{
    font: italic normal normal 13px/100px Epilogue;
    color: #25252599;
    padding-left: 8px;
}
.accordion-body .container .row .col-md-5 .form-group textarea::placeholder{
    font: italic normal normal 13px/20px Epilogue;
    color: #25252599;
}

/* about us  */
.aboutus-banner{
    background: url(../images/aboutus-banner.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.aboutus-banner .container h1{
    font: italic normal normal 800 41px/53px Epilogue;
    color: #1D4D57;
}

.aboutus-content-section .content-area h5{
    text-align: left;
    font: italic normal 800 20px/20px Epilogue;
    letter-spacing: 0px;
    color: #3B8EA0;
    text-transform: uppercase;
    
}
.aboutus-content-section .content-area h2{
    font: italic normal normal 800 42px/52px Epilogue;
    letter-spacing: 0px;
    color: #1D4D57;
    opacity: 1;
}

.aboutus-content-section .card-body{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: none;
}
.aboutus-content-section .card-text{
    height: 50px;
    text-align: left;
    font: normal normal 500 38px/33px Epilogue;
    font-weight:900;
}
.aboutus-content-section .card-text span{
    font:italic normal normal  500 34px/33px Epilogue;
    color: #FF7D0C;
    font-weight:900;
}
.aboutus-content-section .card-title{
    text-align: center;
    font: italic normal bold 14px/20px Epilogue;
    letter-spacing: 0px;
    color: #273553;
   
}
.aboutus-content-section .content-area p{
    text-align: left;
    font: normal normal 600 22px/35px Epilogue;
    color: #273553;
    opacity: 0.7;
}
.aboutus-card h1{
    text-align: center;
    font: italic normal normal 500 54px/63px Epilogue;
    color: #0A3041;
    font-weight: 700;
}
.aboutus-card .card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    border: none;   
}
.aboutus-card .card .card-body .card-title{
    text-align: center;
    font: italic normal normal 500 16px/25px Epilogue;
    color: #0A3041;
    height: 50px;
}
.aboutus-card .card .card-body{
    padding: 30px 20px;
   
}
.aboutus-card .card  .card-text{
    text-align: center;
    font: italic normal 500 15px/23px Epilogue;
    letter-spacing: 0px;
    color: #273553;
    opacity: 0.7;
    margin-bottom: 20px;

}
.aboutus-card .card .card-body button{
    background: #3B8EA0 0% 0% no-repeat padding-box;
    border-radius: 8px;
    font: italic normal normal 600 17px/19px Epilogue;
    color: #FFFFFF;
    border: none;
    padding: 12px 25px;
}
.aboutus-card-img img{
    height: 380px;
}
.green-circle img{
    width: 200px;
}

.aboutus-section-card {
    background: url(../images/aboutus-card-bg.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
}
.aboutus-section-card .container  h1{
    font: italic normal normal 800 36px/45px Epilogue;
    color: #0A3041;
}
.aboutus-section-card .container .row .card .card-body  h1{
    font: italic normal normal 800 17px/25px Epilogue;
    color: #0A3041;
    height: 50px;
}
.aboutus-section-card .container .row .card .card-body  p{
    font: italic normal 500 15px/25px Epilogue;
    color: #273553;
}
.aboutus-section-card .container .row .card .card-body  button{
    font: italic normal normal 600 19px/19px Epilogue;
    color: #FFFFFF;
    background: #3B8EA0 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding: 10px;
    border: none;
  
}
.aboutus-section-card .container .row .card .card-body {
   padding: 40px;
}
.aboutus-section-card .container .row .card{
    padding: 10px;
}

/* timline */
.timeline-section{
    background: url(../images/timeline-bg.png);
    width: 100%;
    background-position:100% 100%;
    background-repeat: no-repeat;
    background-size:contain;
}

.timeline-section .container .timeline-card-heading h1{
    margin-top: 30px;
    margin-bottom: 8px;
    font: italic normal normal 800 33px/30px Epilogue;
    color: #0A3041;
}
.timeline-section .container .timeline-card-heading p{
    margin-top: 15px;
    margin-bottom: 8px;
    font: italic normal normal 800 15px/10px Epilogue;
    color: #8EA4AE;
   
}
.timeline-card-one{
    margin-top: 25px;
    padding-bottom: 30px;
}
.timeline-card-one .card{
    border-radius: 10px;
}
.timeline-card-one .card-title{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.card-body{
    padding: 0 !important;
}
.timeline-section .row{
    justify-content: center;
}
.timeline-card-one .card .card-body .card-title {
    background-color: #0A3041;
}
.timeline-card-one .card .card-body .card-title h1{
    font:italic normal normal 700 15px/15px Epilogue;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
}
.timeline-card-one .card .card-body .card-title p{
    font: italic normal normal 600 10px/16px Epilogue;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 5px;
    text-align: center;
}
ul.timeline-one {
    list-style-type: none;
    position: relative;
}
ul.timeline-one:before{
    content: '';
    display: inline-block;
    position: absolute;
    left: 31px;
    width: 2px;
    height: 90%;
    border-left: 2px dashed #d4d9df;
}

ul.timeline-one  li h1{
    margin: 20px 0;
    padding-left: 25px;
    color: #0A3041;
    font:italic normal normal 600 12px/26px Epilogue;
    height: 50px;
}
li {
    counter-increment: lis;
}
.timeline-card-one .card .card-body .card2{
    background-color: #3B8EA0;
}
ul.timeline-one > li :before  {
    content: counter(lis);
    background: #0E3E53;
    color: #FFFFFF;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
}
.timeline-card-two{
    margin-top: 25px;
    padding-bottom: 30px;
}
.timeline-card-two .card{
    border-radius: 10px;
}
.timeline-card-two .card-title{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.timeline-card-two .card .card-body .card-title {
    background-color: #0A3041;
}
.timeline-card-two .card .card-body .card-title h1{
    font:italic normal normal 700 15px/15px Epilogue;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
}
.timeline-card-two .card .card-body .card-title p{
    font: italic normal normal 600 10px/16px Epilogue;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 5px;
    text-align: center;
}
ul.timeline-two {
    list-style-type: none;
    position: relative;
}
ul.timeline-two:before{
    content: '';
    display: inline-block;
    position: absolute;
    left: 31px;
    width: 2px;
    height: 90%;
    z-index: 400;
    border-left: 2px dashed #d4d9df;
}

ul.timeline-two  li h1{
    margin: 20px 0;
    padding-left: 25px;
    color: #0A3041;
    font:italic normal normal 600 12px/26px Epilogue;
    height: 50px;
}
.timeline-card-two .card .card-body .card2{
    background-color: #3B8EA0;
}
ul.timeline-two > li :before  {
    content: counter(lis);
    background: #0E3E53;
    color: #FFFFFF;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 25px;
    height: 25px;
    z-index: 400;
    text-align: center;
}

/* FAQ */
.faq-section{
    margin-top: 80px;
}
.faq-section .faq-title h1{
    font: italic normal 900 36px/39px Epilogue;    color: #252525;
}
.faq-section .accordion{
    margin-top: 20px;
}
.faq-section .accordion-item{
    margin-bottom: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000033;
    border: 0.10000000149011612px solid #70707029!important;
    border-radius: 10px!important;
}
.faq-section .accordion-button{
    background: #EEF1F3 0% 0% no-repeat padding-box;
    border-radius: 10px!important;
    font: italic normal 600 18px/25px Epilogue;
    letter-spacing: 0.24px;
    color: #252525;
    padding: 15px 30px;
}
.faq-section .accordion-button::after {
    background-image: url(../images/icons/down-arrow.svg)!important;
    background-repeat: no-repeat!important;
  }
  .faq-section.accordion-button:focus {
    border-color:none;
    outline: 0;
    box-shadow: none;
}
.faq-section .accordion-button{
    background-color:#eef1f3 !important;
}
.faq-section .accordion-button[aria-expanded="true"]{
    background-color:#b3d3da !important;
    box-shadow: none;
    font: italic normal 800 18px/25px Epilogue;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}
.faq-section .accordion-item .card-body{
    padding: 10px 13px 10px 30px !important;
   
}
.faq-section .accordion-item .card-body p{
    font: italic normal 500 14px/25px Epilogue;
    color: #313131;
}
.faq-section .accordion-button:focus{
    box-shadow: none;
}

.sticky-menu {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    border-radius: 0;
}
